body {
	font-family: Calibri Light, Calibri, sans-serif;
}


#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

#header {
	font-size: 50px;
	text-align: center;
	color: red;

}

#author {
	font-size: 15px;
	float: right;
	color: gray;
}

#query {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 25px;
	font-size: 15px;

}

#push {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 375px;
	background-color: rgba(232, 36, 36, 0.9);
	color: white;
	height: 30px;
    border: none;
    font-size: 13px;
}

.photos {
	display: block;
	width: 500px;

}